<div id="photos">
  <% @movies.each do |movie| %>
      <div class="wrapper">
        <div class="photo">
          <%= link_to(image_tag(movie.avatar, width: 476, height: 268), movie_path(movie)) %>
           <p> <%= movie.title %></p>
        </div>
      </div>
  <% end %>
</div>

<div class="text-center">
  <%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
</div>
