<!-- <footer class="footer">
  <div class="text-center">
    <p>Mauricio Serna Flórez</p>
    <p> Copyright © 2016 SOGMovies</p>
  </div>
</footer> -->

<div class="footer">
  <span>
    Hecho con <i class="fa fa-heart pulse" style="color:red;"></i> en Medellín.</a>
  </span>
</div>
