html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 42px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgb(55, 71, 79);
  color: #fff;
  text-align: center;
}
